.footer {
  width: 100%;
  height: 176px;
  background: #656565;
  font-family: Cambay;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;

  color: #ffffff;
  display: block;
}

.footer-text {
  background-color: #656565;
  font-size: 15px;
  position: relative;
  top: 70px;
}

.footer-media {
  color: #ffffff;
  background-color: #656565;
  position: relative;
  top: 100px;
}

.footer-icon {
  background-color: #656565;
  margin-right: 25px;
}
