/* Popup style */
.popup-box {
  background: #00000050;
  width: 100%;
  height: 200vh;

  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
}

.box {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #f5f3eb;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  justify-content: center;
}

.popup-form {
  margin-right: auto;
  margin-left: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 60px);
  top: calc(100vh - 85vh - 45px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.space {
  height: 10px;
}

.sign-up-request {
  border-bottom: 1.5px solid pink;
}
